#quest-options {
    display: flex;
    justify-content: center;
    flex-direction:column;
    background-image: url('../assets/map.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    /* margin: auto; */
    /* width: 30%;
    /* height: 30%;
    padding: 300px;*/
    margin-left: 370px; 
}



header p{
    font-size: 40px;
    font-weight: bolder;
    color:steelblue;
    text-align: center;
}


.aligment {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.aligment.completed {
    color: whitesmoke;
    font-size: .9em;
} 

.aligment.completed:after {
    content: ' ✔';
}